
{% include "header.html" %}
        <header class="masthead" style="background-image: url('./static/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Apantslessman Dev Blog</h1>
                            <span class="subheading">My day to day journey of learning</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for post in data %}
                    <a href="{{ url_for('show_posts', num=loop.index0) }}">
                    <div class="post-preview">
                        <h2 class="post-title">{{ data[loop.index0].title }}</h2>
                        <h3 class="post-subtitle">{{ data[loop.index0].subtitle }} </h3>
                        </a>
                        </p>
                    </div>

                    <!-- Divider-->
                    <hr class="my-4" />
                {% endfor %}
                {% include "footer.html" %}

